*{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: 'Poppins', sans-serif;
}

html{
        font-size:62.5%;
}
body{

        height:100vh;
        display:grid;
        place-items: center;
        background-color: blanchedalmond;
}

.container-img {

        width:50rem;
        height:50rem;
        border-radius: 1rem;
        box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
        background-image: url("https://loremflickr.com/500/500");
        background-size: cover;
        /* background-repeat: no-repeat; */
        animation: effect 15s linear infinite;}

        @keyframes effect{
                0%{
                        background-image: url("https://loremflickr.com/500/500");
                } 
                 
                20%{
                        background-image: url("https://loremflickr.com/500/500?random=2");
                }
                
                40%{
                        background-image: url("https://loremflickr.com/500/500?random=4");
                }
                
                60%{
                        background-image: url("https://loremflickr.com/500/500?random=6");
                }
               
                80%{
                        background-image: url("https://loremflickr.com/500/500?random=8");
                }
                
                100%{
                        background-image: url("https://loremflickr.com/500/500");
                }


        }


